@import "../../base/variables.scss";

.signup-holder {
  width: 100%;
  position: fixed;
  top: 64px;
  left: 0px;
  align-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 640px) {
  .signup {
    width: 70vw;
    align-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: $primary-card-bg;
    border-radius: 10px;
    box-shadow: 2px 1px 5px 5px gray;
    margin-top: 4vh;
  }
  .signup-logo {
    margin-top: 20px;
    width: 35%;
  }
  
}
@media screen and (max-width: 640px) {
  .signup {
    min-width: 200px;
    width: 90vw;
    align-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: $primary-card-bg;
    border-radius: 10px;
    margin-top: 6vh;
    box-shadow: 2px 1px 5px 5px gray;
  }
  .signup-logo {
    margin-top: 20px;
    width: 25%;
  }

}
