@import "../../base/variables.scss";
.avatar {
  position: relative;
}
img.avatar-image {
  position: absolute;
  width: 4vw;
  top: 10px;
  left: 0px;
}
.avatar-username {
  position: absolute;
  display: inline;
  top: 0px;
  left: 4vw;
}
.score {
  font-weight: 900;
  color: $tertiary-color;
  position: fixed;
  right: 0px;
  top: 0px;
  vertical-align: middle;
  line-height: 64px;
  margin-right: 50px;
}
.main-menu-holder {
  height: 64px;
  background: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0px;
  left: 0px;
  width: 100%;
  box-shadow: 0px 0px 2px 2px gray;
  z-index: 10000;
}
.main-menu {
  display: flex;
  flex-direction: row;
}
.main-menu-holder-center {
  height: 64px;
  background: white;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  width: 100%;
  box-shadow: 0px 0px 2px 2px gray;
  z-index: 1000;
}
.menu {
  display: flex;
  flex-direction: row;
}
.menu-logo {
  height: 50px;
  margin-top: 5px;
  vertical-align: middle;
  margin-right: 40px;
}
.main-menu .user-link {
  line-height: 60px;
  vertical-align: middle;
  color: $primary-color;
  padding: 5px;
}
.link {
  line-height: 40px;
  vertical-align: middle;
  color: $primary-color;
  text-decoration: none;
  text-align: center;
  padding: 10px;
}

.active-link {
  line-height: 40px;
  vertical-align: middle;
  color: white;
  padding: 10px;
  text-decoration: none;
  text-align: center;
  background-color: $primary-color;
}

.active-user-link {
  line-height: 60px;
  vertical-align: middle;
  display: inline;
  color: white;
  background-color: $primary-color;
  padding: 5px;
}

.link-contents {
  width: 10vw;
  min-width: 100px;
  vertical-align: middle;
}
