.footer-holder {
  position: relative;
  color: white;
  bottom: 0px;
  left: 0px;
  width: 100vw;
  background-color: black;
  height: 25vh;
  text-align: right;
}
.sponsorish {
  height: 50%;
  vertical-align: middle;
}