$primary-bg: #323A44;
$primary-color: #323A44;
$primary-card-bg: white;
$primary-card-color: white;
$primary-font-size: 1rem;
$primary-font: 'Arial', Sans-serif;
$secondary-card-bg: lightgray;
$tertiary-color: red;